<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
      <script defer src="https://cloud.umami.is/script.js" data-website-id="500a8411-887d-463c-bac9-18e993573b0a"></script>
      {{ $reset := resources.Get "css/reset.css" }}
      {{ $theme := resources.Get "css/theme.css" }}
      {{ $main := resources.Get "css/main.css" }}
      {{ $css := slice $reset $theme $main | resources.Concat "css/bundle.css" | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $css.RelPermalink }}">
      <title>{{if .Title}}{{ .Title }} | {{end}}{{ .Site.Title }}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/books/">Books</a>
        <a href="/series/">Series</a>
        <a href="/worlds/">Worlds</a>
        <a href="/statistics/">Statistics</a>
      </nav>
    </header>

    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
  </body>
</html>
